asgiref==3.8.1
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==39.0.1
cx_Oracle==8.3.0
Cython==3.0.11
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
filelock==3.16.1
HTMLParser==0.0.2
ini2toml==0.15
ipython==8.12.0
ipython==8.12.3
ipython==8.26.0
ipywidgets==8.1.2
ipywidgets==8.0.4
jnius==1.1.0
keyring==23.13.1
mod==0.3.0
objgraph==3.6.1
path.py==12.5.0
Pillow==9.4.0
Pillow==10.4.0
pkg1==0.0.3
protobuf==5.28.2
psutil==5.9.8
psutil==5.9.0
pyOpenSSL==23.0.0
pyOpenSSL==24.2.1
pysqlcipher3==1.2.0
pytest==7.3.1
python-dotenv==1.0.1
redis==5.0.8
Sphinx==5.0.2
sqlcipher3==0.5.3
thread==2.0.5
tomli_w==1.0.0
trove_classifiers==2024.9.12
urllib3_secure_extra==0.1.0
watchdog==2.1.6
xmlrpclib==1.0.1
xx==3.3.2
