/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat", system-ui; /* Modern font */
    color: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* #completed-checkbox {
    outline: none;
    box-shadow: none;
    border:none;
    appearance: none;
    background:none;
} 
#completed-checkbox:focus {
    outline: none;
  } */

#add-note-form #completed-checkbox{
    outline: none;
    box-shadow: none;
    border:none;
    appearance: none;
    background:none;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    background: #FAF9F7;
    background-size: 200% 200%; 
    animation: gradientAnimation 10s ease infinite; 
    padding-left: 20px;
    position: relative;
    overflow-y: auto;
    transition: background 0.8s;
}


.sidebar {
    width: 250px; /* Adjust width as necessary */
    background-color: #EFE7F4; /* Sidebar background color */
    position: fixed; /* Keep it fixed */
    left: -250px; /* Hide it off-screen initially */
    top: 0px; /* Align to the top */
    height: 100vh; /* Use max-height to limit the height */
    overflow-y: auto; /* Add scrolling if content exceeds max-height */
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 999; /* Ensure it's on top */
    padding: 20px; /* Padding for aesthetics */
    border-right: 1px solid #ccc; /* Border to separate from notes */
    
    flex-direction: column;
    display: flex;
}
.sidebar .content {
    display: flex;
    flex-direction: column;
     /* Center the content horizontally */
    margin-top: 20px;
}


.logout {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically if needed */
    top: 100px; /* Adjust to your layout */
    margin: 0 auto; /* Center the container */
    padding: 10px;
    background-color: #303030;
    margin-top: 100px;
    border-radius: 10px;
    
}
.logout-button{
    color: white;
    text-decoration: none;
}


.sidebar.active {
    left: 0; /* Bring sidebar into view */
    width: 230px; /* Adjust width as necessary */
}

#sidebar-toggle {
    border: none;
    /* width: 50px; */
    background-color: white;
    font-size:20px ;
    border: none;
    border-radius: 5px;
    padding: 1px 3px;
    cursor: pointer;
    position: fixed; /* Position it fixed */
    top: 10px; /* Adjust to your liking */
    left: 15px; /* Adjust to your liking */
    z-index: 1000; /* Ensure it's above other elements */
}

.header h2{
    left: 100px;
    position: relative;
    font-size:large;
    
}
   
.welcome{
    color: grey;
    font-size: 20px;
    position: relative;
    display: flex;
}
.welcome-message{
    position: relative;
    left: 120px;
}

.categories li.active {
    background-color:#303030; /* Change this to your preferred color */
    color: white; /* Change text color for better visibility */
}

.categories {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin-top: 30px;
}

.categories li {
    cursor: pointer; /* Show pointer on hover */
    padding: 10px; /* Padding for clickable area */
    transition: background-color 0.3s; /* Smooth hover effect */
    font-size: medium;
    display: flex;             /* Use flexbox for horizontal alignment */
    margin-top: 30px;
}
.categories li img {
    margin-right: 10px; 
    width: 20px;/* Adds space between the image and the text */
}
.categories li:hover {
    background-color: #ddd; /* Highlight on hover */
}

/* Keyframes for Background Animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    background: white; /* Matching gradient */
    padding: 20px 20px; /* Padding for spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    min-height: 80px;
    top: 0;
    right: 0px;
    width:100%;
    z-index: 1; /* Bottom border for separation */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for header */
    transition: background 0.3s ease;
}
.sidebar .content{
    padding-top: 50px;
}
.logo img{
    width: 40px;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements horizontally */
    justify-content: flex-start; /* Align items at the start */
    width: 260px; /* Default width for desktop */
    max-width: 90%; /* Max width to avoid covering the screen */
    background-color: #FAF9F7;
    position: absolute;
    right: 25px; /* Fixed position from the right */
    top: 90px; /* Position from the top */
    height: auto; /* Auto height to accommodate content */
    z-index: 999;
    padding: 10px;
    
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
.right-sidebar .controls-container{
    display: flex;
    gap: 10px;
    position: relative;
    
    
}
/* #filter-controls {
    display: flex;
    align-items: center; 
    flex-direction: row;
    background-color: #303030;
    justify-content: center;
    border-radius: 8px;
    padding:5px;
    margin-top: 15px;
    height: 40px;
} */

/* Add Button */
.right-sidebar button {
    /* Background image */
    /* Replace with the actual path to your image */
    background-size: contain; /* Scale image to fit within button */
    background-position: center; /* Center image vertically and horizontally */
    background-repeat: no-repeat; /* Prevent image repetition */
    /* Button dimensions and styling */
    width: 130px; /* Adjust width as needed */
    height: 40px;
    padding: 2px; /* Remove default padding */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #333;
    color: white;
    margin-top: 2px;
    font-size: medium;
}

.right-sidebar button:hover {
   cursor: pointer;
}
/* #filter-controls h4{
    position: relative;
    top: 10px;
    color: white;
    font-size: small;
}
#filter-controls input[type="checkbox"] {
    position: relative;
    right:-110px;
    top: 2px;

  } */
  #filter-controls input[type="checkbox"] {
    position: relative;
    top:25px;
    right: 50px;
  }
 #filter-controls .checkbox-name{
    position: relative;
    top: 5px;
    font-size:medium
 }
  #filter-controls{
    display: flex;
  }

.header button:hover {
    /* background: linear-gradient(135deg, grey, brown);  */
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.header button:active {
    transform: scale(0.70);
}
.header a{
    position: absolute;
    top: 30px;
    right: 150px;
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive columns */
    gap: 20px;
    margin-top: 90px;
    padding: 0 20px; /* Adjusted for better spacing */
    box-sizing: border-box;
    grid-auto-rows: auto; /* Allow rows to adjust based on content */
    transition: grid-template-columns 0.3s; /* Smooth transition for column adjustments */
    position: absolute; /* Detach notes from sidebar */
    left: 0; /* Position it to the right of the sidebar */
    width: calc(100% ) /* Full width minus sidebar width */
}
.sidebar.active + .notes {
    width: calc(100% - 250px);
    margin-left: 250px; /* Adjust margin to match the width of the sidebar */
    
}
/* Note Card */
.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px; 
    border: 3px solid black; /* Light border for better separation */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    position: relative;
    min-height: 200px; /* Minimum height for consistency */
    width: 100%;
    box-sizing: border-box;
    overflow: hidden; /* Prevent content overflow */
    padding-bottom: 60px; /* Increased padding for icons */
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition for hover effects */
}

.input-box:hover {
    transform: translateY(-5px); /* Lift card on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Deeper shadow */
    /* background: linear-gradient(135deg, white,brown); */
}

/* Title and Description */
.input-box .note-title {
    font-weight: 700; /* Bold title */
    margin-bottom: 12px;
    position: absolute;
    top:40px;
    font-size: 20px; /* Larger font size */
    color: black;
}


.note-completed{
    position: absolute;
    top: 15px;
    width: 20px;
    right: 75px;
}
.note-description {
    white-space: pre-wrap;
    margin: 0;
    font-weight: 500;
    line-height: 1.6;
    position: absolute;
    top: 70px;
    font-size: 15px; /* Adjusted font size */
    color: black;
}

/* Edit and Delete Icons */
.checkbox-icons-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Align items to the start */
    margin-top: -5px; /* Adjust spacing above if necessary */
}

.note-completed {
    /* margin-right: 10px;  */
    /* Space between checkbox and label */
    margin-right: 7px;
    
}

.modify-buttons {
    display: flex; /* Keep buttons in a row */
    gap: 10px; /* Space between edit and delete buttons */
    margin-left: auto; /* Push buttons to the right */
    margin-right: -15px;
    margin-top: -7px; /* Right margin for spacing */
}

.delete-button,
.edit-button {
    cursor: pointer; /* Change cursor on hover */
    border: none; /* Remove border */
    background: none; /* Remove background */
    transition: transform 0.3s; /* Smooth transition for hover effect */
    padding:4px; /* Ensure padding around the button */
    display: flex; /* Flex to center the image */
    background-color: white;
    border-radius: 7px;
    
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}
.edit-button{
    margin-right: 20px;
    gap: 3px;
}
.delete-name,.edit-name{
    font-weight: 500;
}

.delete-button:hover,
.edit-button:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.edit-button img{
    width: 20px;
    height: 16px;
}
.delete-button img {
    width: 20px; /* Set icon size */
    height: 20px; /* Maintain aspect ratio */
}
.delete-button:hover,
.edit-button:hover {
    transform: translateY(-3px); /* Lift buttons on hover */
}



/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Darker overlay */
}

.modal-content {
    background: #303030;
    background-size: 200% 200%; /* Allows the animation to have movement */
    animation: gradientAnimation 7s ease infinite; /* Infinite animation */
    padding: 20px;
    border: 3px solid white;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Deeper shadow */
    transition: opacity 0.3s; /* Smooth transition for modal appearance */
}
#modal-title{
    color: white;
}

.note-category {
    font-size: 12px;
    color: white;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
    left: 10px;
    outline:3px solid black ;
    font-weight:500;
    border: none;
    border-radius:8px;
    background: #303030;
    padding: 3px 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 8px;
}

/* Category Dropdown in Form */
#add-note-form select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

/* Close Button */
.close {
    color: #999;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s; /* Smooth transition for close button color */
}

.close:hover,
.close:focus {
    color: #333;
}

/* Form Styles */
#add-note-form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 15px;
    
}

#add-note-form label {
    font-size: 16px;
    color: white;
    font-weight: 600;
}

#add-note-form input,
#add-note-form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s; /* Smooth transition for input focus */
}
.note-date{
    font-size: 12px;
    position: absolute;
    bottom: 1px; /* Position from bottom */
    border: none;
    left: 105px;
    transform: translateX(-50%); /* Center horizontally */
    font-weight: bold;
    color: rgb(92, 90, 90);
}
#add-note-form input:focus,
#add-note-form textarea:focus {
    border-color: #3498db; /* Change border color on focus */
}

#add-note-form button {
    padding: 12px;
    /* background: linear-gradient(135deg,grey,brown,white,red);  */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    color: black;
    font-size: 16px;
    width: 100px;
    transition: background-color 0.7s, transform 0.7s; /* Smooth transition for button */
}

#add-note-form button:hover {
    background: linear-gradient(135deg, darkgrey, orange, red);
    transform: scale(1.05); /* Slightly increase button size on hover */
    outline: 2px solid black;
}

#add-note-form button:active {
    transform: scale(0.98); /* Slightly decrease button size on click */
}
.search-container {
    width: 100%;
    max-width: 50vw; /* Set a max width to keep it controlled */
    margin: 0 auto; /* Center horizontally */
    position: absolute; /* Absolute positioning to avoid affecting the notes layout */
    top: 20px; /* Distance from top */
    right:150px;
    justify-content: center; /* Keep it centered */

}
.search-content{
    display: flex;
}
.search-container img{
    width: 20px; /* Adjust icon size as needed */
    top: 12px;
    right: -30px;
    position: relative;
    height: 20px;
    z-index: 1000;
}
.combo{
    justify-content: space-between;
   
    
}
#search-input {
    width: 100%; /* Full width inside the container */
    padding: 12px 15px; /* Increased padding for comfort */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid #ccc; /* Light border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    transition: all 0.3s ease;
    padding-left: 40px
}
#search-input:focus {
    border-color: #3498db; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Highlight effect */
    outline: none; /* Remove outline */
}
#search-input::placeholder {
    color: #999; /* Placeholder text color */
    opacity: 1; 
    ;/* Ensure visibility */
}

.date-display:hover {
    background: linear-gradient(135deg, grey, brown); 
    transform: scale(1.05);
}



@media (max-width: 768px) {
    .sidebar {
        width: 180px; /* Smaller width for small screens */
    }
    
    .sidebar.active {
        left: 0;
        width: 150px;
    }
    .sidebar.active + .notes {
        width: calc(100% - 250px);
        margin-left: 150px; /* Adjust margin to match the width of the sidebar */
        
    }
    .welcome-message{
        left: 35px;
    }
    #search-input{
        margin-left: 200px;    
        min-width: 150px;    
    }
    .search-container img{
        right: -230px;
    }
        
}
